Code
{
  "nodes": [
    {
      "parameters": {
        "formTitle": "Data for Real estate",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name"
            },
            {
              "fieldLabel": "Interest"
            },
            {
              "fieldLabel": "Budget"
            },
            {
              "fieldLabel": "Email"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        0,
        0
      ],
      "id": "307cf922-1936-410e-ba23-25373e82b37d",
      "name": "On form submission",
      "webhookId": "b1c18a9e-dfad-4989-993f-38725ea9faf4"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1qdQwZg0PH9wsgHDFjVXcHkRKdpJTaCTgviJEisLG7i0",
          "mode": "list",
          "cachedResultName": "Real estate Data from Form",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qdQwZg0PH9wsgHDFjVXcHkRKdpJTaCTgviJEisLG7i0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qdQwZg0PH9wsgHDFjVXcHkRKdpJTaCTgviJEisLG7i0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "Name": "="
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Interests",
              "displayName": "Interests",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Budget",
              "displayName": "Budget",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "submittedAt",
              "displayName": "submittedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "formMode",
              "displayName": "formMode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "e4df27d2-aed5-47f6-972b-49c7ff3bd510",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Xbrs4rIDkOBgITQT",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.Interest }}",
        "options": {
          "systemMessage": "=You are a friendly, knowledgeable, and efficient real estate assistant.\nYour primary goal is to help clients find their ideal property by answering their questions clearly, accurately, and engagingly.\n\nYou have access to tools that allow you to:\n\nUpdate client and property data in the Google Spreadsheet received through the client form.\n\nUpdate the company database with new or modified client and listing information.\n\nBook property appointments for clients using the Calendar tool.\n\nSend confirmation or follow-up emails using the Gmail tool.\n\nAlways verify information before responding.\nNever invent or assume details from outside sources.\n\n💡 Tone & Behavior Guidelines\n\nBe polite, confident, and personable — like a trusted real estate consultant.\n\nUse natural, conversational, and professional language.\n\nKeep replies concise but informative, focusing on clarity and value.\n\nWhen possible, make helpful suggestions (e.g., “Would you like me to schedule a visit for you?”).\n\nConfirm all actions you take (such as booking, updating, or emailing).\n\nMaintain a positive and proactive attitude in every interaction."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "c4683457-5c51-4ea2-8877-4073a5839174",
      "name": "Client AI agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        256,
        208
      ],
      "id": "f7c2b3b0-8c04-4a65-aec0-eae208a895bd",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "OFwqLe5yrPXxsWNs",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "hamzamalik0136@gmail.com",
          "mode": "list",
          "cachedResultName": "hamzamalik0136@gmail.com"
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        704,
        208
      ],
      "id": "085e9896-1251-404b-b795-d7e3437f4274",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "hEQq7rZGCyz2OkIE",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        864,
        208
      ],
      "id": "cb5c913f-e4b1-42e9-90b5-15c656883f0d",
      "name": "Send a message in Gmail",
      "webhookId": "e091f933-7399-4c0e-b4d3-6b96696cb498",
      "credentials": {
        "gmailOAuth2": {
          "id": "ij9kJIRPmiMal54J",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1qdQwZg0PH9wsgHDFjVXcHkRKdpJTaCTgviJEisLG7i0",
          "mode": "list",
          "cachedResultName": "Real estate Data from Form",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qdQwZg0PH9wsgHDFjVXcHkRKdpJTaCTgviJEisLG7i0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qdQwZg0PH9wsgHDFjVXcHkRKdpJTaCTgviJEisLG7i0/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        496,
        224
      ],
      "id": "bcf64f53-d169-4747-8317-7fa4e49843e9",
      "name": "Update database",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Xbrs4rIDkOBgITQT",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Client AI agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Client AI agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "Client AI agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "Client AI agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update database": {
      "ai_tool": [
        [
          {
            "node": "Client AI agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "df39a78ea079a258c14366ed9024671f589062ae988452f5d6aaa98cf7094472"
  }
}
